.container-profil {
  /* width: max-content; */
  overflow-x: auto;
}

.container-profil::-webkit-scrollbar {
  width: 10%;
  height: 3.5px;
  background-color: aqua;
}

.container-profil::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.container-profil::-webkit-scrollbar-thumb {
  background: #47b2e4;
}

@media (max-width: 994px) {
  .card-profil .box {
    width: 94vw;
  }
}

/* .depatermen-img {
  } */
/* 
  @media (max-width: 400px) {
    .depatermen-img {
      height: 100px;
      width: 1200px;
    }
  } */
